body {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

header{
  background-color: beige;
  padding: 20px;
}

header img{
  width: 300px;
  height: 300px;
}

.navigation {
  border-bottom: 2px solid grey;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation a {
  margin: 0 10px;
  font-size: 18px;
  text-decoration: none;
  color: indianred;
  padding: 5px;
  border-radius: 3px;
}

.navigation a:hover{
  background-color: silver;
}

h1 {
  font-family: 'Vollkorn', serif;
  font-weight: 700;
}

h2 {
  position: relative;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
}

h2.about::before {
  content: "\2705";
  position: absolute;
  left: 412px;
  top: -2px;
  font-size: 1.3rem;
}

h2.education::before {
  content: "\2705";
  position: absolute;
  left: 358px;
  top: -2px;
  font-size: 1.3rem;
}

h2.scills::before {
  content: "\2705";
  position: absolute;
  left: 387px;
  top: -2px;
  font-size: 1.3rem;
}

h2.hobbies::before {
  content: "\2705";
  position: absolute;
  left: 423px;
  top: -2px;
  font-size: 1.3rem;
}

h2.become::before {
  content: "\2705";
  position: absolute;
  left: 265px;
  top: -2px;
  font-size: 1.3rem;
}

p, li {
  font-family: Raleway, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
}

.section {
  background-color: lightgray;
  margin-top: 15px;
  padding: 10px;
}

li {
  list-style:none;
}

ul {
  padding-inline-start: 0;
}

footer {
  background-color: beige;
  margin-top: 15px;
  padding: 10px;
}

footer img{
  width: 40px;
  height: 40px;
}

footer p , h2{
  margin: 0 auto;
}



